@{
    ViewData["Title"] = "Home Page";
}


@section headCssSection{
    @*头部引用的CSS*@

}
@section headJsSection{
    @*头部引用的JS*@

    <script src="~/js/jquery.unobtrusive-ajax.js"></script>

}

@section scriptSection{
    @*页面底部JS脚本*@

    <script type="text/javascript">

    </script>
}

@section placeTitleSection{

    <h1>
        主页
        <small>Version 1.0</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> 主页</a></li>
        <li class="active">Index</li>
    </ol>
}

<div class="row">
    <h2>主页</h2>
</div>
